@model MyWatchStore.Models.DONGHO

@{
    ViewBag.Title = "AdminEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CHỈNH SỬA</h2>

@using (Html.BeginForm("AdminEdit", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaDH)
    <div class="form-group">
        @Html.LabelFor(model => model.TenDH, "Mã đồng hồ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p>@Model.MaDH</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TenDH, "Tên đồng hồ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenDH, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenDH, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.XuatSu, "Xuất sứ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.XuatSu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.XuatSu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gia, "Giá", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaHang, "Hãng", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaHang", null, new { @class = "form-control", @id = "maHang" })
            @Html.ValidationMessageFor(model => model.MaHang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Image, "Ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="AnhUpload" class="form-control" />
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>
        @ViewBag.ThongBao
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="LƯU" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Quay lại","AdminProduct", "Admin")
</div>
